:root {
    --fondo: #90A9B7;
    --primario: #90A9B7;
    --secundario: #0B2332;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondo);
    font-family: 'Prompt', sans-serif;;
}

.contenedor {
    width: 90%;
    margin: auto;
}

header {
    padding: 0px 0;
    padding-left: 50px;
}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header nav a {
    color: var(--secundario);
    text-decoration: none;
    margin: 20px;
}

header nav a:hover, header nav a.activo {
    color: white;
}

.Home {
    background: url(./img/2-IMAGEN-HOME.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
}

.Home .contenedor {
    margin: 0 auto;
    margin-top: 250px;
    padding: 50px 0px;
}

.Home h4 {
    font-size: large;
    color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: italic;
}

.Home h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: var(--primario);
    margin-bottom: 20px;
}

.Home hr {
    width: 660px;
    margin-bottom: 20px;
}

.Home p {
    font-weight: normal;
    font-size: 17px;
    line-height: 1.75em;
    max-width: 60%;
    margin-bottom: 30px;
    color: white;
}

.Home button {
    display: inline-block;
    padding: 16px 25px;
    background-color: var(--secundario);
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
    box-shadow: 5px 5px 10px -5px #0c2d41;
}

.Home button:hover {
    background: #668292;
    color: white;
    border: none;
}

.quienes-somos {
    background-color: #0c2d41;
    padding: 100px 0;
    display: flex;
}

.quienes-somos .contenedor {
    width: 50%;
}

.quienes-somos h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: var(--primario);
    margin-bottom: 20px;
}

.quienes-somos hr {
    width: 400px;
    margin-bottom: 20px;
}

.quienes-somos p {
    font-weight: normal;
    font-size: 17px;
    max-width: 70%;
    color: var(--primario);
    line-height: 1.5em;
}

.quienes-somos .img {
    width: 50%;
    padding-left: 250px;
}

.quienes-somos img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.mision {
    background-color: var(--fondo);
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.mision .contenedor {
    width: 50%;
    padding-left: 250px;
}

.mision h2 {
    font-family:'Prompt', sans-serif;
    font-size: 40px;
    color: var(--secundario);
}

.mision hr {
    width: 280px;
    margin-bottom: 20px;
}

.mision p {
    font-weight: normal;
    font-size: 17px;
    max-width: 70%;
    margin-bottom: 30px;
    color: var(--secundario);
}

.mision .img {
    width: 50%;
}

.mision img {
    height: 300px;
    width: 450px;
    border-radius: 5%;
}

.vision {
    background-color: var(--secundario);
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.vision .contenedor{
    width: 50%;
}

.vision h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: var(--primario);
    margin-bottom: 20px;
}

.vision hr {
    width: 400px;
    margin-bottom: 20px;
}

.vision p {
    font-weight: normal;
    font-size: 17px;
    max-width: 60%;
    margin-bottom: 30px;
    color: var(--primario);
}

.vision .img {
    width: 50%;
    padding-left: 250px;
}

.vision img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.contactanos {
    margin: 0 auto;
    padding: 100px 0;
    display: flex;
}

.contactanos .contenedor {
    width: 50%;
    padding-left: 150px;
}

.contactanos h2 {
    font-family: 'Prompt', sans-serif;
    font-size: 40px;
    color: var(--secundario);
    margin-bottom: 20px;
}

.contactanos form {
    display: flex;
    width: 350px;
    flex-direction: column;
    margin-left: 170px;
}

.campo {
    background-color: #0B2332;
    padding: 17px 35px;
    outline: none;
    color:#90A9B7;
    border: 0;
    margin-bottom: 10px;
    border-radius: 30px;
}

.campo::placeholder {
    color: #90A9B7;
}

.boton {
    padding: 17px 35px;
    border: none;
    border-radius: 30px;
    color: #0B2332;
    text-transform: uppercase;
}

.contactanos .img {
    width: 50%;
    padding-left: 100px;
}

.contactanos img {
    border-radius: 5%;
    width: 300px;
    height: 330px;
    margin-top: 50px;
}